<div>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-6 col-sm-6">
      <pre class='poetry'>
      If any flower that here is grown,
          Or any herb, may ease your pain,
      Take and accompt it as your own,
          But recompense the like again...

                             <strong>George Gascoigne</strong>
      </pre>
    </div>
  </div>
</div>